@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        body{
            text-align:left;
        }
        ul{
            text-align:left;
        }
        ol{
            text-align:left;
        }
    </style>
</head>
<body>
    <section id="materials" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Materials</h2>
               <ul>
                   <li> 2 x 2 Garden</li>
                   <li>Materials Needed For Garden Assembly</li>
                   <li> (1) 8ft 2x10 piece of Lumber. Have cut into:</li>
                   <li>(2) 2ft 2x10</li>
                   <li>(2) 1'8" 2x10</li>
                   <li>Measuring tape/stick at least 2ft long.</li>
                   <li>4 cubic feet of Garden Soil.</li>
                   <li>Shovel</li>
                   <li>Newspaper</li>
                   <li>Level (optional)</li>
                   <li>Pencil (optional)</li>
                   <li>Safety Glasses</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="Assembly" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Assembly</h2>
                <ol>

                    <li>Grab one long pice and one short piece</li>
                    <li>Place together at 90 degree angle placing the <b>short</b> boards inside the longer</li>

                   <li>Using an electric drill and 2 1/2-inch deck screws, attach the boards at the ends. Screw together in two places.</li>
                    <li>When the base of the box is assembled, lay it in place</li>
                    <li><b>Tip</b> You can use a tarp, newspaper or lay your box on top of regular soil. Laying on regular soil will require weeding.</li>
                    <li>Check to make sure that the box sits level on the ground</li>
                    <li> If it is not level (it probably won’t be), set the box aside and use a blunt-nose shovel to level the ground.</li>
                      <li>  Divide the square into 16 one-foot section, using string or small strips of board.</li>
                </ol>

            </div>
        </div>
    </section>



</body>

