@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/location.css")
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Garden Location -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is good and bad for the location of your garden</h2>
                <div class="bullets">
                    <h3>Good</h3>
                    <ul style="list-style-type:disc"
                        list-style-position inside;>
                        <li>6 hours of sunlight per day</li>
                        <li>A level area</li>
                        <li>Good drainage</li>
                        <li>Adequate air circulation</li>
                        <li>Near a wall that faces the sun</li>
                    </ul>
                </div>
                <div class="bullets">
                    <h3>Bad</h3>
                    <ul style="list-style-type:disc"
                        list-style-position inside;>
                        <li>Areas that are shaded</li>
                        <li>Near tall trees or plants</li>
                        <li>By a wall not facing the sun</li>
                        <li>Uneven ground</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- Soil Options and Adding The Soil -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Soil Options</h2>
                <p>A 2ft x 2ft raised bed will need approximately 4 cubic feet of soil.<br Here are two simple and affordable options /></p>
                <div class="numList">
                    <ol>
                        <li>Ask a local store for their recommendation for the best soil for a raised bed.</li>
                        <li>Start from scratch with 1/3 vermiculite, 1/3 peat moss, and 1/3 varied composts.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- Seed amounts and depths -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Seed Amounts and Depths</h2>
                <p>A 2ft x 2ft raised bed will need approximately 4 cubic feet of soil.<br Here are two simple and affordable options /></p>
                <div class="numList" id="tomatoes">
                    <h3>Tomatoes</h3>
                    <ol>
                        <li>Pick a location where the tomatoes will NOT shade your other plants.</li>
                        <li>Plant one seed in the center of the square.</li>
                        <li>Place the seed 1/8" - 1/4" deep in to the soil.</li>
                        <li>Place a tomato cage directly over top of your seed.</li>
                    </ol>
                </div>
                <div class="numList" id="onions">
                    <h3>Onions</h3>
                    <ol>
                        <li>Plant your onions so the soil barely covers the roots.</li>
                        <li>As they mature, half the bulb should be sticking above the surface.</li>
                    </ol>
                </div>
                <div class="numList" id="carrots">
                    <h3>Carrots</h3>
                    <ol>
                        <li>Plant the seeds evenly in four rows of four.</li>
                        <li>Place the seeds about 2 or 3 inches down in to the soil and cover them.</li>
                    </ol>
                </div>
                <div class="numList" id="lettuce">
                    <h3>Lettuce</h3>
                    <ol>
                        <li>Lettuce can be planted directly in the garden 2 weeks before the frost date.</li>
                        <li>Place the seeds evenly in two rows of two.</li>
                        <li>Place the seeds 1/8 of an inch in to the soil.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</body> 

