@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/location.css")
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is good and bad for the location of your garden</h2>
                <div class="bullets">
                    <h3>Good</h3>
                    <ul style="list-style-type:disc"
                        list-style-position: inside;>
                        <li>6 hours of sunlight per day</li>
                        <li>A level area</li>
                        <li>Good drainage</li>
                        <li>Adequate air circulation</li>
                        <li>Near a wall that faces the sun</li>
                    </ul>
                </div>
                <div class="bullets">
                    <h3>Bad</h3>
                    <ul style="list-style-type:disc"
                        list-style-position: inside;>
                        <li>Areas that are shaded</li>
                        <li>Near tall trees or plants</li>
                        <li>By a wall not facing the sun</li>
                        <li>Uneven ground</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</body> 
